<!doctype html>
<html lang="{{ site.LanguageCode | default "en-us" }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $siteJS := resources.Get "js/site.js" | minify | fingerprint }}
    <script src="{{ $siteJS.RelPermalink }}" defer></script>
    {{ if or .IsHome .Params.game }}
      <script type="module" src="/game/dicezzle/dicezzle-game.js"></script>
    {{ end }}
  </body>
</html>
